# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Logs
*.log
dev.log
server.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Database (ya eliminados)
db/
prisma/
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
